@font-face {
  font-family: "Neue-Regrade";
  src: local("assets/neue-regrade/neueregrade.ttf");
}
@font-face {
  font-family: "nohemi";
  src: local("assets/nohemi/nohemi.ttf");
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  display:flex;
  font-family: 'nohemi';
  font-weight: 200;
}
body{
  background-color: #DEE2E0;
}
header{
  width: 40%;
  min-width: 40%;
  flex-shrink: 0;
}
/* Sidebar CSS */
#homebox{
  background-color: #000000;
  width: 60px;
  height: 40px;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 0;
}
#homebox2{
  background-color: #000000;
  width: 60px;
  height: 200px;
  flex-direction: row;
  flex-shrink: 0;
}
.sidebar_graphics{
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  min-width: 40%;
}
.sidebar {
  height: 100vh;
  width: 100%;
  min-width: 40%;
  background: color #f3f3f3;
  padding-bottom: 30%;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar a {
  font-weight: 500;
  font-size: 30px;
  color: #000000;
  text-decoration: none;
  margin: 10px 0; 
}

.text-container {
  flex-grow: 1;
  min-width: 100%;
  overflow: hidden; /* Prevent text from overflowing */
}

.floating-image {
  position: relative;
  max-width: 100px;  /* Adjust as needed */
  max-height: 100px; /* Adjust as needed */
  pointer-events: auto;
}

#header-container {
  position: relative;
  max-width: 100%;
}

#desc {
  font-weight: 100;
  font-size: 30px;
  color: #080808;
  margin: 10px 0px 0px 0px; 
  display: inline-block;
}

#additional-text {
  font-weight: 200;
}

#additional-text, #cursor-circle {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

#additional-text.fade-out, #cursor-circle.fade-out {
  opacity: 0;
}

#cursor-circle {
  display: none;
  width: 25px;
  height: 25px;
  background-color: rgb(255, 119, 119);
  border-radius: 50%;
  margin-left: 20px;
  vertical-align: middle;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.10); }
  100% { transform: scale(1); }
}

@keyframes pulsate {
  0% { transform: scale(1); }
  50% { transform: scale(1.150) ; }
  100% { transform: scale(1); }
}

#homebox2.pulsating {
  animation: pulsate 3s ease-in-out infinite;
}

.buttons{
  width: 60%;
  min-width: 60%;
  flex-direction: column;
  height: 100vh;
  font-size: 30px;
  font-weight: 100;
  overflow: hidden;
}
.side{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.top{
  flex-grow: 1;
  width:100%;
  height: 80%;
  flex-direction: row;
  transition: height 0.3s ease-in-out;
}
.bottom{
  height: 20%;
}
.discord-box {
  width: 50%;
  flex-grow: 1;
  flex-basis: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #87CEEB4b, #f1a5cb4b);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  transition: all 0.1s ease-out;
}
.discord-box, .side, .statement, .examples, .examplebox, .bottom {
  transition: all 0.7s ease;
}
.examples{
  height: 100%;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
}
p{
  font-size: 25px;
  font-weight: 300;
  color:rgb(90, 90, 90);
}
.examplebox{
  flex:1;
  flex-direction: column;
  background-color: #000000;
  min-width: 0;
  justify-content: space-around;
  align-items: center;
  transition: all 0.3s ease;
  border-radius: 20px;
}

.examplebox p {
  margin: 0;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#example-box1{
  background: linear-gradient(175deg, #0EFC664b, #B3CBFE4b);
}
#example-box2{
  background: linear-gradient(25deg, #FA9B404b, #A1C4FF4b);
}
#example-box3{
  background: linear-gradient(100deg, #6931694b, #8EF6BE4b);
}
.statement{
  flex: 1;
  flex-basis: 100%;
  width: 100%;
  background: linear-gradient(180deg ,#f3f3f3,#dddddd);
  height: 40%;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}
.contact{
  flex:1;
  width: 50%;
  background: linear-gradient(100deg ,#dadada,#e6e5e5);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}
.technology{
  flex:1;
  width: 50%;
  background: linear-gradient(0deg ,#dadada,#e6e5e5);
  height: 100%;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}
a{
  text-decoration: none;
}