/* 151515 background color */
@font-face {
  font-family: "Neue-Regrade";
  src: local("assets/neue-regrade/neueregrade.ttf");
}
@font-face {
  font-family: "nohemi";
  src: local("assets/nohemi/nohemi.ttf");
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  display:flex;
  font-family: nohemi;
  font-weight: 100;
}
body{
  flex-direction: row;
  background-color: #1a1a1a;
  color: #fff;
  width: 100%;
  cursor: none;
}

.custom-cursor {
  width: 20px;
  height: 20px;
  background-color: rgb(139, 255, 141);
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transition: all 0.1s ease;
  transform: translate(-50%, -50%);
}
.custom-cursor.default {
  width: 20px;
  height: 20px;
  background-color: rgb(255, 0, 0);
}

header{
 flex-direction: column;
}
/* Sidebar CSS */
.sidebar {
  height: 100vh;
  width: 30%;
  background: color #151515;
  padding: 40px;
  padding-left: 0 ;
  flex-direction: row;
  justify-content: left;
  align-items: top  ;
  position:fixed;
  top: 0;
  bottom: 0;
  left: 0px;
  overflow-y: auto;
}
.graphs{
  align-items: left;  
}
.side{
  flex-direction: column;
  justify-content: space-between;
  position: left;
  padding-left: 15px;
}
.sidebar a {
  font-weight: 100;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  margin: 10px 0; 
  transition: all 0.15s ease-in-out;
  position:relative;
}
#Neighbors{
  font-weight: 350;
  font-size: 40px;
}
#projcttitle{
  font-size: 30px;
}
#Discord{
  font-size: 30px;
  width: 50px;
}
.userroles{
  font-size: 60px;
  display:flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
}
.bottomcontainer{
  font-size: 30px;
  display:flex;
  flex-direction: column;
}
/* Container CSS */

main{
  width:70%;
  flex-direction: row;
  justify-content: left;
  padding-left: 40px;
  margin-left: 30%;
}

.swiper-wrapper{
  width: 80%;
  min-height: 80%;
  height:auto;
  justify-content: flex-start;
}
.content-item img {
  width: 100%; /* or any desired width */
  height: 100vh;
  display: block;
  margin-bottom: 10px; /* space between images */
}

.left_row{
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100vh;
  overflow: hidden;
}

.swiper-slide {
  height: auto !important;
  display: flex;
  flex-wrap: row ;
  justify-content: space-between;
  align-items: center;
}

.swiper-container {
  opacity: 0;
  transition: opacity 5s ease-in-out;
  overflow: hidden;
}
.swiper-container.fade-in {
  opacity: 1;
}
.swiper-slide img {
  max-height: 80vh;
  width: auto;
  object-fit: contain;
}
img{
  max-width: 500px;
}
