@font-face {
  font-family: "Neue-Regrade";
  src: local("assets/neue-regrade/neueregrade.ttf");
}

@font-face {
  font-family: "nohemi";
  src: local("assets/nohemi/nohemi.ttf");
}

body * {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  display: flex;
  font-family: nohemi;
  font-weight: 100;
}

body {
  flex-direction: row-reverse;
  justify-content: flex-start;
  background-color: #1a1a1a;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  display: flex;
  font-family: nohemi;
  font-weight: 100;
}
header {
  flex-direction: column;
}
/* Sidebar CSS */
.sidebar {
  height: 100vh;
  width: 30%;
  background: color #151515;
  padding: 40px;
  padding-left: 0 ;
  flex-direction: row;
  justify-content: left;
  align-items: top;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0px;
  overflow-y: auto;
}
.graphs{
  align-items: left;  
}
.side{
  flex-direction: column;
  justify-content: space-between;
  position: left;
  padding-left: 15px;
}
.sidebar a {
  font-weight: 100;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  margin: 10px 0;
  transition: all 0.15s ease-in-out;
  position: relative;
}
#projcttitle {
  font-size: 30px;
}
#Discord {
  width: 50px;
  font-size: 30px;
}
.userroles {
  font-size: 60px;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
}
.bottomcontainer {
  font-size: 30px;
  display: flex;
  flex-direction: column;
}
.paragraphR{
  padding-bottom: 40px;
  margin-bottom: 50px;
  height: 60vh;
  width: 50%; 
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
.topsub{
  width: 50%;
}

.centText{
  width: 50%;
  font-size: 35px;
  color:#747474;
}
.main-content {
  flex-direction: column;
  justify-content: flex-end;
  width: 60%;
  height: 100vh;
  padding: 1%;
  align-items: flex-end;
}
.link {
  display: inline-block;
  animation: breathe 8s ease-in-out infinite;
}
@keyframes breathe {
  0%, 100% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.1);
  }
}

#rightP{
  font-size: 45px;
  font-weight: 300;
}
#rightp2{
  font-size: 35px;
}
#rightp3{
  font-size: 25px;
  color: #747474;
}
.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
}
.topsub{
  font-size: 35px;
  box-sizing: border-box;
  padding: 40px;
  width: 60%;
  justify-content: center;
}
#statement{
  font-size: 40px; 
  font-weight: 400;
}


